.app {
    -fx-background-color: #0a3a97;
}

Label.heading--value {
    -fx-text-fill: #49b5f5;
    -fx-font-size: 11pt;
}

Label.value {
    -fx-font-size: 16pt;
}

Label.heading--1 {
    -fx-font-size: 24pt;
}

Label.heading--2 {
    -fx-font-size: 20pt;
}

Label {
    -fx-text-fill: #fff;
    -fx-font-size: 12pt;
}

Label.label--notification {
    -fx-text-fill: yellow;
}

Button {
    -fx-background-color: #49b5f5;
    -fx-background-radius: 0;
    -fx-text-fill: #fff;
}

ButtonBar Button {
    -fx-background-color: #e94369;
    -fx-text-fill: #fff;
}

.button--large {
    -fx-font-size: 13pt;
}

.button--exit {
    -fx-background-color: none;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

TextField,
PasswordField {
    -fx-background-radius: 0;
}
